.header-container {
  max-width: 100%;

  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDjYAJJfzq-uiJA9nKA1DcP8bLOXqt7cxH99oUvK5ZsS_nurq1);



}

.header-container_inner-container {




}

.header-title {
  text-align: center;



}


.top-nav {




}

.top-nav_items {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;




}
